<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam neque nihil perspiciatis magnam sit
            aliquid esse odit, facere quis, molestiae aperiam voluptas nisi ratione id totam, velit ullam
            exercitationem fuga!</p>
    </div>
</div>